* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    /* min-height: 100vh; */
    width: 100%;
    background: url('../pictures/pexels-lukas-628241.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    padding: 1.3rem 10%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-bottom: 1px solid black;
}

#header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

#header:hover::after {
    left: 100%;
}

.headerPic {
    display: flex;
    height: 70px;
    font-size: 1rem;
    align-items: center;
    font-weight: 700;
}

.headerPic img {
    border: 1px solid #000;
    height: 60px;
    border-radius: 100%;
    margin-right: 12px;
    margin-top: 6px;
}

.navbar a {
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #000;
    cursor: pointer;
    display: none;
}





/* BREAKPOINTS */
@media screen and (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: red;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transition: .3s ease;
        overflow: hidden;

    }

    #check:checked~.navbar {
        height: 14.3rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }


}