* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: heebo;
}

#container {
    display: flex;
    flex-direction: row-reverse;
}

header {
    background: #FDBD03;
    height: 18px;
    width: 70%;
    margin-left: auto;
}


#img-container {
    height: 100vh;
    width: 45vw;

}

img {
    width: 60%;
    margin-top: 10%;
    margin-left: 100px;
}

#form-container {
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 18px solid #FDBD03;
}


.contact-form {
    display: flex;
    direction: rtl;
    height: 54.5vh;

}

.contact-form h1 {
    font-size: 66px;
    font-weight: 900;
    color: #FDBD03;
    margin-bottom: 10px;

}

.contact-form p {
    font-size: 20px;
    color: #020253;
    width: 45%;
    margin-bottom: 40px;
}

.input-style {
    width: 21vw;
    height: 50px;
    border: none;
    background: #E5EEFF;
    border-bottom: 5px solid #FDBD03;
    margin-left: 20px
}

.client-info textarea {
    width: 43vw;
    height: 142px;
}

label {
    color: #2C2C2C;
    font-weight: 700;
}

input[type="submit"] {
    width: 166px;
    height: 50px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    background: #FDBD03;
    margin-top: 7vh;
}

input[type="text"] {
    margin-bottom: 15px;
}

.client-info {
    display: flex;
    flex-direction: column;
}

.form-start {
    display: flex;
}

.social {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 11vh;
}



.icon-style {
    width: 95px;
    height: 95px;
    background: #FDBD03;
    border-radius: 100%;
    padding: 15px 30px 50px 25px;
    font-size: 3em;
}

/* breakpoints */

@media screen and (max-width:1200px) {
    #container {
        flex-direction: column;
    }

    #img-container {
        height: 25vh;
        width: 100vw;
    }

    #form-container {
        /* height: 85vh;*/
        width: 100vw;
        /* display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-bottom: 18px solid #FDBD03; */
    }

    div.whatsapp-icon.icon-style {
        display: none;
    }

    img {
        width: 25%;
        /* margin-top: 10%;*/
        margin-left: 35%;
    }

    .contact-form h1 {
        font-size: 40px;
        text-align: center;
        /* font-weight: 900;
    color: #FDBD03;
    margin-bottom: 10px; */

    }

    .contact-form p {
        font-size: 15px;
        text-align: center;
        margin-right: 7%;
        width: 80%;
        /* margin-bottom: 40px; */
    }

    .input-style {
        width: 90%;
        height: 37px;
        /* border: none;
        background: #E5EEFF;
        border-bottom: 5px solid #FDBD03;*/
        margin-left: 0;
        margin-right: 5%;
    }

    .contact-form {
        width: 100vw;
        height: 60vh;
        align-items: center;
        /* display: flex;
            
            height: 54.5vh; */


    }

    .form-start {
        flex-direction: column;
    }

    .client-info textarea {
        width: 90%;
        height: 105px;
    }

    header {
        height: 10px;
        width: 90vw;
    }


    label {
        font-size: 10px;
        margin-right: 5%;
        font-weight: bold;
    }

    input[type="submit"] {
        width: 90%;
        height: 37px;
        margin-right: 5%;
        /* border: none;
        font-size: 22px;
        font-weight: 700;
        background: #FDBD03;*/
        margin-top: 2vh;
    }

    .social {
        width: 80%;
        /* display: flex;
    justify-content: space-between;*/
        margin-top: 25vh;
        margin-left: 10%;
    }

    .icon-style {
        width: 45px;
        height: 45px;
        /* background: #FDBD03;*/
        border-radius: 100%;
        padding: 5px 12px 15px;
        font-size: 1.5em;
    }

}

@media screen and (max-height:720px) {

    #img-container {
        margin-bottom: 100px;
    }
}